/* Typography */

/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Chakra Petch', sans-serif;*/
/* // End typography */

/*	Resets
	------	*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figure,
figcaption,
hgroup,
menu,
footer,
header,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  list-style: none;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
b,
strong {
  font-weight: bold;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

.clear:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
a img {
  border: 0;
  width: auto;
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
  border-style: none;
}
a,
input,
select,
textarea {
  outline: none;
}
img {
  width: auto;
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
  border-style: none;
}

/* Selection colours (easy to forget) */
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
a {
  text-decoration: none;
  display: inline-block;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input:invalid,
input:required {
  box-shadow: none;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
input:required {
  box-shadow: none;
}
input::-moz-focus-inner {
  box-shadow: 0 0 0px transparent;
}

/*		Default Layout 
-------------------------------------------------------------------------------
*/

/*

Font property css

font: font-style font-variant font-weight font-size/line-height font-family|caption|icon|menu|message-box|small-caption|status-bar|initial|inherit;

*/

body {
  background: var(--dark-bg);
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Global style */
:root {
  --primary-color: #2c9dd2;
  --secondary-color: #43c0b9;
  --dark-bg: #222222;
  --light-bg: #ffffff;
  --white: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
}
h2 {
  font-size: 50px;
  line-height: 56px;
  color: var(--white);
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: relative;
  padding-bottom: 15px;
}
h2::after {
  content: "";
  width: 95px;
  height: 5px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background-color: #ffffff;
  position: absolute;
}
h3 {
  text-transform: uppercase;
  font-size: 26px;
  line-height: 32px;
  color:#ffffff;
}
dfn,
address,
em {
  font-style: normal;
}
label,
input[type="submit"] {
  cursor: pointer;
}
button:focus {
  outline: none;
}
.btn {
  width: 180px;
  height: 50px;
  font-size: 20px;
  line-height: 26px;
  color: #fff;
  font-weight: 500;
  padding: 12px 10px;
  text-align: center;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn.primary {
  position: relative;
  background-color: #2c9dd2;
  z-index: 1;
}
.btn span {
  position: relative;
  z-index: 999;
  color: #ffffff;
}
.btn.primary:after {
  content: "";
  width: 0;
  height: 100%;
  background-color: var(--secondary-color);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: -1;
}
.btn.primary:hover:after {
  width: 100%;
  color: #ffffff;
}
.btn.secondary {
  background-color: #43c0b9;
}
.btn.secondary:hover {
  background-color: #2c9dd2;
}
.transparent {
  color: #2c9dd2;
  background-color: transparent;
  border: 1px solid #2c9dd2;
}
.transparent:hover {
  color: #ffffff;
  background-color: #2c9dd2;
}
.bg-style {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.animet {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.mobi {
  display: none;
}
.desk {
  display: block;
}

.common-wrap {
  max-width: 1480px;
  margin: 0 auto;
  clear: both;
  padding: 0 20px;
}
.common-wrap .common-wrap,
.common-wrap .large-container,
.common-wrap .md-container,
.common-wrap .ex-md-container {
  padding: 0;
}
.large-container {
  max-width: 1330px;
}
.common-wrap .large-container {
  max-width: 1290px;
}
.md-container {
  max-width: 1180px;
}
.common-wrap .md-container {
  max-width: 1140px;
}
.ex-md-container {
  max-width: 1040px;
}
.common-wrap .ex-md-container {
  max-width: 1000px;
}

.centerY {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #ffffff;
}

/* Flex style */
.flex-box {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.flex-horizontal-align {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.flex-vertical-align {
  -webkit-box-align: center;
  align-items: center;
}
.flex-bottom-align {
  -webkit-box-align: flex-end;
  align-items: flex-end;
}
.flex-content-align {
  -webkit-align-content: center;
  -moz-align-content: center;
  align-content: center;
}
.order-1 {
  -webkit-order: 1;
  -moz-order: 1;
  -ms-order: 1;
  order: 1;
}
.order-2 {
  -webkit-order: 2;
  -moz-order: 2;
  -ms-order: 2;
  order: 2;
}
.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
/* End Flex style */

body,
html {
  height: 100%;
}
.main-wrap {
  min-height: 100%;
  position: relative;
}
.section-title{
  text-align: center;
}
.section-title img{
  width: 100px;
  height: 100px;
}
/* Beginning header style */
.header {
  position: fixed;
  width: 100%;
  top:0;
  left: 0;
  padding: 15px 0;
  z-index: 999;
  background: rgba(64, 58, 58, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}
.navbar-wrap{
  display: grid;
  grid-template-columns: 351px 1fr 180px;
  grid-gap:10px;
  align-items: center;
}
.navbar-nav-list{
  display: flex;
  justify-content: center;
}
.navbar-nav-list li {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  margin: 0 20px;
}
.navbar-nav-list li:first-child{
  margin-left: 0;
}
.navbar-nav-list li:last-child{
  margin-right: 0;
}
.navbar-nav-list a {
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  color: #43c0b9;
  text-transform: capitalize;
  position: relative;
}
.navbar-nav-list a:after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--secondary-color);
  left: 0;
  bottom: -2px;
  position: absolute;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.navbar-nav-list a:hover:after {
  width: 100%;
}
.phone-nav{
  display: none;
}
/* End header style */

/* Beginning Hero Style */
.hero{
    position: relative;
    min-height: 930px;
}
.hero-content{
  display: flex;
  align-items: center;
  height: 100vh;
}
video.video-play {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: -1;
}
.hero-text {
  max-width: 720px;
  color: var(--white);
}
.hero h2 {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  padding-bottom: 0;
}
.hero h2::after {
  display: none;
}
.hero p {
  margin-top: 20px;

  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.hero .btn {
  margin-top: 20px;

  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* End Hero Style */

/* Beginning Our Services style */
.service-info {
  padding: 0 0 50px;
}
.service-info-inner {
  display: grid;
  grid-template-columns: 25% 1fr;
  align-items: self-start;
  grid-gap: 40px;
  overflow: visible;
}
.selectric-mobiselec{
  display: none;
}
.side-bar {
  position: sticky;
  position: -webkit-sticky;
  top: -38px;
  padding: 270px 0 10px 45px;
}
.side-bar li a {
  display: block;
  font-size: 22px;
  line-height: 28px;
  color: var(--primary-color);
  padding: 10px 0 10px 20px;
  box-shadow: 0px 0px 15px -3px #48cae4;
  border-radius: 15px;

  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: relative;
  z-index: 1;
}

.side-bar li a.current {
  background-color: #000000;
}
/* .side-bar li {
  padding: 10px 0 10px 20px;
} */
/*.side-bar li a:after{
    content: "";
    width: 2px;
    height: 0;
    background-color: var(--secondary-color);
    left: 0;
    top:0;
    position: absolute;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.side-bar li a:hover::after{
    height: 100%;
}*/
/*.side-bar li a:before{
    content: "";
    width: 0;
    height: 100%;
    background-color: #000000;
    left: 0;
    top:0;
    position: absolute;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    z-index: -1;
}*/
/*.side-bar li a:hover::before{
    width: 100%;
}*/
.side-bar li:not(:first-child) {
  margin-top: 30px;
}
.side-bar li a:hover {
  padding-left: 30px;
}
.sevice-content {
  margin-top: 30px;
}
.sevice-item {
  padding-top: 30px;
  text-align: center;
}
.service-head {
  text-align: center;
  color: var(--white);
  padding: 0px 0 30px;
}
.service-icon {
  max-width: 90px;
  -webkit-animation: spinAround 8s linear infinite;
  -moz-animation: spinAround 8s linear infinite;
  animation: spinAround 8s linear infinite;
}
.service-head h2 {
  margin-top: 10px;
}
.service-head h3 {
  margin-top: 10px;
  color: var(--secondary-color);
}
.card-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}
.card {
  color: var(--white);
  padding: 30px 60px;
  text-align: center;
  box-shadow: 0px 0px 15px -3px rgb(72, 202, 228);
  border-radius: 35px;
}
.card img {
  width: 80px;
  height: 80px;
}
.card h3 {
  margin-top: 5px;
}
.card p {
  margin-top: 20px;
}
/* End Our Services style */
/* Beginning Our Team style */
.our-team-title {
  padding: 20px 10px;
  text-align: center;
}
.team-icon-circle {
  -webkit-animation: spinAround 8s linear infinite;
  -moz-animation: spinAround 8s linear infinite;
  animation: spinAround 8s linear infinite;
}
.our-team-title img {
  width: 75px;
  height: 75px;
  margin-bottom: 20px;
}
.team-info{
  margin-top: 70px;
}
.team-carousel{
  padding: 70px 0 100px;
}
.team-card{
  max-width: 350px;
  margin: 0 auto;
  padding: 20px 20px 40px 20px;
  background: rgba(72, 202, 228, 0.2);
  border:4px solid transparent;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  position:relative;
}
.team-card::after{
  position:absolute;
  content:"";
  width: 100%;
  top:-3px;
  left:-5px;
  right:0;
  bottom:-3px;
  border-radius: 16px;
  border:5px solid transparent;
  mask-composite: xor;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  background: rgb(44,157,210);
  background: linear-gradient(62deg, rgba(44,157,210,1) 0%, rgba(67,192,185,1) 59%); 
  /* background: rgb(44,157,210);
background: linear-gradient(90deg, rgba(44,157,210,1) 0%, rgba(147,231,81,0.8799894957983193) 100%); */
  z-index: -1;
}
.team-card:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 23px 0px rgba(44,157,210,1);
}
.swiper-slide-active .team-card{
  box-shadow: 0px 0px 23px 0px rgba(44,157,210,1);
  transform: scale(1.1);
}
.team-card-thumb img{
  width: 100%;
  border-radius: 10px;
}
.team-card-info{
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 35px;
}
.team-card-info h3{
  text-transform: capitalize;
  font-weight: 700;
}
.team-post{
  font-size: 20px;
  color: #ffe4c4;
  display: block;
}
.socials{
  grid-gap: 10px;
}
.socials img{
  width: 35px;
  height: 35px;
}
/* End Our Team style */
/* Beginning Our Works Style */
.our-projects{
  padding: 50px 0;
}
.project-gallary{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  margin-top: 70px;
}
.project-gallary-item{
  position: relative;
}
.project-gallary-item-thumb::after{
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000000;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  position: absolute;
}
.project-gallary-item-thumb:hover::after{
  opacity: 0.5;
  transform: scale(1.1);
}
.project-gallary-item h3{
  margin-top: 35px;
}
.project-gallary-item-thumb{
  position: relative;
}
.project-gallary-item-thumb:hover .project-link{
  height: 50px;
  opacity: 1;
  transform: scale(1.1);
}
.project-gallary-item-thumb:hover .project-img{
  transform: scale(1.1);
}
.project-img{
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.project-link{
  display: flex;
  grid-gap: 15px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0px;
  font-size: 20px;
  line-height: 50px;
  color: var(--white);
  background-color: var(--secondary-color);
  position: absolute;
  left: 0;
  bottom: -11px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}
.project-link img{
  width: 30px;
}
/* End Our Works Style */
/* Beginning Testimonial style */
.testimonial{
  padding:50px 0;
}
.testimonial-title{
  text-align: center;
  padding: 0 10px;
}
.customer-review{
  margin-top: 70px;
}
.review-carousel{
  padding-bottom: 55px;
}
.review-slide{
  max-width: 900px;
  padding:20px;
  background-color: var(--white);
  border:2px solid var(--primary-color);
  border-radius:12px;
}
.review-card{
  display: flex;
  grid-gap: 35px;
  align-items: center;
}
.review-card span{
  display: block;
}
.review-card-thumb{
  max-width: 700px;
  position: relative;
  padding: 0 30px;
}
.client-img{
  width: 100%;
}
.review-card-thumb::after{
  content: "";
  width: 100%;
  height: 55%;
  bottom: 0;
  left: 0;
  background-color: rgba(67,192,185,0.5);
  border:1px solid var(--primary-color);
  border-radius: 10px;
  z-index: -1;
  position: absolute;
}
.client-name{
  font-size:24px;
  line-height: 30px;
  text-transform: capitalize;
}
.client-info{
  font-size:14px;
  line-height:20px;
  color: #ff6347;
}
.star-icon{
  grid-gap:5px;
  margin-top:5px;
}
.star-icon img{
  width: 16px;
  height: 16px;
}
.review-card p{
  margin-top: 8px;
}
.swiper-pagination-bullet{
  margin: 0 0 0 0 !important;
  background-color:var(--secondary-color);
  width: 50px;
  height: 6px;
  border-radius: 0;
  transition: all 0.6s ease-in-out;
}
.swiper-pagination-bullet-active{
  background-color: var(--primary-color);
  transition: all 0.6s ease-in-out;
}
/* End Our Testimonial style */

/* Beginning Contact Page style */
.contact-us{
  padding: 200px 0 80px;
}
.contact-card-wrap{
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  grid-gap:30px;
}
.contact-card{
  text-align: center;
  background-color:#000000;
  box-shadow: 0px 0px 15px -3px #48cae4;
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 30px 15px;
  transition: all 0.2s ease-in-out;
}
.contact-card:hover{
  background-color:rgba(255, 255, 255, 0.1);
  border: 1px solid #09FCFF;
  box-shadow: none;
}
.contact-card img{
  width: 80px;
}
.contact-card h3{
  margin-top: 15px;
}
.contact-card address{
  font-size: 18px;
  color: #ffe4c4;
  margin-top: 15px;
}
.contact-card a {
  font-size: 20px;
  color: #ffe4c4;
  margin-top: 15px;
}
.contact-info{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  background-color: #000000;
  margin-top: 100px;
}
.form{
  padding: 30px;
}
.form-title h2{
  position: inherit;
  padding-bottom: 0;
  color: #ffe4c4;
}
.form-row{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap:25px;
}
.form-row:not(:first-of-type){
  margin-top: 50px;
}
.form-row:first-of-type{
  margin-top: 60px;
}
.form-row:last-of-type{
  display: block;
}
.form-row label{
  display: block;
  font-size: 20px;
  line-height: 26px;
  color: var(--white);
}
.form-row input{
  width: 100%;
  height: 50px;
  font-size: 18px ;
  color:var(--white);
  background-color: transparent;
  border: none;
  border-bottom: 3px solid var(--white);
  margin-top: 10px;
}
.form-row textarea{
  width: 100%;
  min-height: 200px;
  font-size: 22px ;
  color:var(--white);
  background-color: transparent;
  border: none;
  border-bottom: 3px solid var(--white);
  resize: none;
  margin-top: 15px;
}
.form-row input::placeholder,
.form-row textarea::placeholder{
  font-size: 18px;
  padding-left: 20px;
}
.form-submit{
  width: 100%;
  font-size: 22px;
  padding: 12px 0;
  text-transform: uppercase;
  margin-top: 55px;
}
iframe{
  width: 100%;
  height: 100%;
}
/* End Contact Page style */

/* Beginning footer style */
.footer{
  padding: 40px 0 0;
  border-top: 1px solid var(--secondary-color);
}
.footer-inner{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:30px;
}
.footer-logo img{
  width: 250px;
}
.footer-info p{
  color:var(--white);
  margin-top:20px;
}
.widget{
  max-width: 75%;
  justify-content: space-between;
  grid-gap:50px;
  margin-top:25px;
}
.widget-item li:not(:first-child){
  margin-top: 10px;
}
.widget-item li a{
  font-size: 16px;
  line-height: 20px;
  color: var(--white);
  position: relative;
}
.widget-item li a::after{
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.3s ease-in-out;
}
.widget-item li a:hover::after{
  width: 100%;
}
.footer-social-links{
  margin-top:20px;
  grid-gap:15px;
}
.footer-social-links img{
  width: 30px;
}
.subscribe-form{
  display: grid;
  grid-template-columns: 70% 30%;
  margin-top: 20px;
}
.subscribe-form input{
  height: 50px;
}
.subscribe-form input[type='email']{
  font-size: 18px;
  color:#ffe4c4;
  background-color: transparent;
  border:none;
  border-bottom:2px solid var(--primary-color);
}
.subscribe-form input::placeholder{
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 20px;
}
.subscribe-form input[type='submit']{
  text-transform: uppercase;
  color:var(--white);
  letter-spacing: 1px;
  font-weight: 700;
  background-color: var(--primary-color);
  border:2px solid var(--primary-color);
  border-radius: 0;
}
.copy-right{
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  color: var(--white);
  text-align: center;
  background-color: var(--secondary-color);
  padding: 5px 0;
  margin-top: 40px;
}
/* End footer style */

/* =======================================================================================================
============================================ Responsive style ========================================== */

/*		Mobile Layout: 320px and 480px and more but less than or equal to 767px.
----------------------------------------------------------------------------------
*/

@media only screen and (min-width: 320px) and (max-width: 767px) {
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="search"],
  input[type="number"],
  input[type="submit"],
  input[type="password"],
  select,
  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  /* Gobal Style */
  h2{
    font-size:28px;
    line-height: 40px;
    padding-bottom: 0;
  }
  h2::after{
    width: 65px;
  }
  h3{
    font-size: 20px;
    line-height: 20px;
  }
  p{
    font-size:14px;
    line-height: 18px;
  }
  .mobi {
    display: block;
  }
  .desk {
    display: none;
  }
  .section-title img {
    width: 85px;
    height: 85px;
  }
  /* Gobal Style */
  body.navOpen{
    overflow: hidden;
  }

  /* Hearder Style */
  .logo{
    position: relative;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
  }
  .logo img{
    width: 180px;
  }
  .navbar-wrap{
    display: block;
  }
  .navbar-nav{
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    text-align: center;
    padding-top: 105px;
    transition: all 0.3s ease-in-out;
  }
  .navOpen .navbar-nav{
    left: 0;
  }
  .navbar-nav-list{
    display: none;
  }
  .navOpen .navbar-nav-list{
    display: flex;
    flex-direction: column;
    grid-gap: 35px;
  }
  .navOpen .navbar-nav-list li{
    margin: 0;
  }
  .navOpen .navbar-nav-list li a{
    font-size: 40px;
    line-height: 46px;
  }
  .header .btn.primary{
    position: absolute;
    top: 525px;
    left: -100%;
  }
  .navOpen .btn.primary {
    z-index: 999;
    top: 525px;
    left: 50%;
    transform: translateX(-50%);
}
  .phone-nav{
    display: block;
  }
  .phone-nav span{
    display: block;
    width: 40px;
    height: 1px;
    position: relative;
  }
  .phone-nav span::after{
    content: "";
    width: 40px;
    height: 1px;
    background-color: var(--primary-color);
    left: 0;
    top:8px;
    position: absolute;
    transition: all 0.3s ease-in-out;
  }
  .phone-nav span::before{
    content: "";
    width: 40px;
    height: 1px;
    background-color: var(--primary-color);
    left: 0;
    top:-8px;
    position: absolute;
    transition: all 0.3s ease-in-out;
  }
  .navOpen .phone-nav span::after{
    top:0;
    transform: rotate(45deg);
  }
  .navOpen .phone-nav span::before{
    top:0;
    transform: rotate(-45deg);
  }
  /* Hearder Style */
  /* Hero Style */
  .hero-content{
    text-align: center;
  }
  .hero p{
    margin-top:10px;
  }
  .navOpen .hero-text a{
    display: none;
   }
  /* Hero Style */
  /* Services Style */
  .service-info-inner{
    display: block;
    padding: 25px 0;
  }
  .service-head{
    padding: 0 0 20px;
  }
  .side-bar{
    position: inherit;
    padding: 0;
  }
  .selectric-mobiselec{
    display: block;
    width:100%;
    border: 1px solid var(--primary-color);
  }
  .selectric-items{
    width: 100%;
    background-color:var(--dark-bg);
    border:1px solid var(--primary-color);
    padding-bottom: 8px;
  }
  .selectric-mobiselec .selectric-items li{
    color:var(--white);
  }
  .side-bar li:not(:first-child) {
    margin-top: 15px;
  }
  .selectric-mobiselec .label{
    color: var(--primary-color);
    padding: 10px 20px;
  }
  .sevice-content {
    margin-top: 15px;
  }
  .sevice-item{
    padding-top: 15px;
  }
  .card-wrap{
    display: block;
    padding-bottom: 40px;
  }
  .slick-dotted.slick-slider{
    margin-bottom: 0;
  }
  .card{
    padding: 10px;
    margin: 10px;
  }
  .card img{
    width: 50px;
    height: 50px;
    margin: 0 auto;
  }
  .card-wrap .slick-dots button{
    width: 20px;
    height: 1px;
    padding: 1px;
    border-radius: 0;
    background-color: var(--primary-color);
    transition:  all 0.3s ease-in-out;
  }
  .card-wrap .slick-dots{
    bottom: 0;
  }
  .card-wrap .slick-active button{
    width: 20px;
    height: 3px;
    border-radius: 0;
    background-color: var(--white);
  }
  .card p{
    font-size: 12px;
    margin-top:10px;
  }
  /* Services Style */
  /* Our team Style */
  .our-team-title{
    padding: 0 0;
  }
  .team-carousel{
    padding-bottom: 55px;
    overflow: hidden;
  }
  .team-info{
    margin-top: 45px;
  }
  .team-card{
    max-width: 265px;
    padding: 20px 20px 30px 20px;
  }
  .team-card:hover{
    transform: scale(1);
  }
  .swiper-slide-active .team-card{
    transform: scale(1);
  }
  .team-post{
    font-size: 14px;
  }
  .socials img {
    width: 30px;
    height: 30px;
  }
  /* Our team Style */
  /* Projects Style */
  .our-projects{
    padding: 0 0;
  }
  .project-gallary{
    grid-template-columns: repeat(1, 1fr);
    grid-gap:25px;
    margin-top:40px;
  }
  .project-gallary-item-thumb::after{
    content: none;
  }
  .project-link img {
    width: 15px;
  }
  .project-link{
    height: 25px;
    font-size: 14px;
    opacity:1;
  }
  .project-gallary-item:hover .project-img{
    transform: scale(1);
  }
  .project-gallary-item:hover .project-link{
    height: 30px;
    transform: scale(1);
  }
  .project-gallary-item h3 {
    margin-top: 15px;
  }
  /* Projects Style */
  /* Testimonial Style */
  .testimonial{
    padding: 30px 0;
  }
  .customer-review {
    margin-top: 30px;
    padding: 25px;
  }
  .review-slide{
    max-width: 275px;
    padding: 10px 15px;
  }
  .review-card{
    flex-direction: column;
    grid-gap:10px;
    text-align: center;
  }
  .client-name {
    font-size: 20px;
    line-height: 23px;
  }
.client-info {
  font-size: 14px;
  line-height: 20px;
  }
.star-icon{
  justify-content: center;
  }
.review-card p{
  margin-top:5px;
  }
  /* Testimonial Style */
  /* Footer Style */
  .footer{
    padding: 30px 0 0;
  }
  .footer-inner{
    display: block;
  }
  .widget{
    margin-top:10px;
  }
  .footer-info p{
    margin-top:10px;
  }
  .footer-menu{
    margin-top:20px;
  }
  .footer-social{
    margin-top:20px;
  }
  .footer-social-links{
    margin-top:10px;
  }
  .subscribe-form input {
    height: 40px;
  }
  .subscribe-form input[type='email']{
    font-size: 14px;
  }
  .subscribe-form input[type='submit']{
    font-size: 10px;
    font-weight: 400;
  }
  .copy-right{
    margin-top:30px;
  }
  /* Footer Style */
  /* Contact Page Style */
  .contact-us {
    padding: 130px 0 40px;
}
  .contact-card-wrap{
    grid-template-columns: repeat(1, 1fr);
  }
  .contact-info {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 70px;
}
.form {
  padding: 20px;
  order:2;
}
.form-row:first-of-type {
  margin-top: 25px;
}
.form-row:not(:first-of-type) {
  margin-top: 30px;
}
.form-row textarea {
  width: 100%;
  min-height: 130px;
}
.form-submit {
  margin-top: 40px;
}
  /* Contact Page Style */
  
}

/*		Wide Mobile Layout: 480px.
------------------------------------------------------------
*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .navbar-nav{
    padding-top: 65px;
  }
  .navOpen .navbar-nav-list li a {
    font-size: 25px;
    line-height: 45px;
}
.navOpen .navbar-nav-list {
  grid-gap: 0;
}
.header .btn.primary{
  position: absolute;
  top: 305px;
  left: -100%;
}
.navOpen .btn.primary {
  z-index: 999;
  top: 305px;
  left: 50%;
  transform: translateX(-50%);
}
}

/*		Tablet Layout: 768px.
-----------------------------------------------------------------
*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="search"],
  input[type="number"],
  input[type="submit"],
  input[type="password"],
  select,
  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  h2{
    font-size: 40px;
  }
  body.navOpen{
    overflow: hidden;
  }

   /* Hearder Style */
   .navOpen .header{
    background-color: #000000;
    transition: all 0.6s ease-in-out;
   }
   .logo{
    position: relative;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
  }
  .logo img{
    width: 200px;
  }
  .navbar-wrap{
    display: block;
  }
  .navbar-nav{
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000000;
    text-align: center;
    transition: all 0.6s ease-in-out;
  }
  .navOpen .navbar-nav{
    height: 100vh;
    padding-top: 105px;
  }
  .navbar-nav-list{
    display: none;
  }
  .navOpen .navbar-nav-list{
    display: flex;
    flex-direction: column;
    grid-gap: 35px;
  }
  .navOpen .navbar-nav-list li{
    margin: 0;
  }
  .navOpen .navbar-nav-list li a{
    font-size: 40px;
    line-height: 46px;
  }
  .header .btn.primary{
    position: absolute;
    top: 580px;
    left: -100%;
    transition: all 0.6s ease-in-out;
  }
  .navOpen .btn.primary {
    z-index: 999;
    top: 580px;
    left: 50%;
    transform: translateX(-50%);
   }
  .phone-nav{
    display: block;
  }
  .phone-nav span{
    display: block;
    width: 40px;
    height: 1px;
    position: relative;
  }
  .phone-nav span::after{
    content: "";
    width: 40px;
    height: 1px;
    background-color: var(--primary-color);
    left: 0;
    top:8px;
    position: absolute;
    transition: all 0.3s ease-in-out;
  }
  .phone-nav span::before{
    content: "";
    width: 40px;
    height: 1px;
    background-color: var(--primary-color);
    left: 0;
    top:-8px;
    position: absolute;
    transition: all 0.3s ease-in-out;
  }
  .navOpen .phone-nav span::after{
    top:0;
    transform: rotate(45deg);
  }
  .navOpen .phone-nav span::before{
    top:0;
    transform: rotate(-45deg);
  }
  /* Hearder Style */
  .navOpen .hero-text a{
    display: none;
   }
  /* Our Team Style */
  .team-card{
    padding: 15px 15px 25px 15px;
  }
  .team-card:hover{
    transform: scale(1);
  }
  .swiper-slide-active .team-card{
    transform: scale(1);
  }
  .team-card-info{
    margin-top:20px;
  }
  .team-card-info h3{
    font-size: 14px;
    line-height: 18px;
  }
  .socials img{
    width: 25px;
    height: 25px;
  }
  .team-post{
    font-size:12px;
  }
  /* Our Team Style */
  /* Our Project Style */
  .project-gallary {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 50px;
  }
  .project-gallary-item h3 {
    margin-top: 20px;
  }
  .project-gallary-item-thumb::after{
    content: none;
  }
  .project-link img {
    width: 15px;
  }
  .project-link{
    height: 25px;
    font-size: 14px;
    opacity:1;
  }
  .project-gallary-item:hover .project-img{
    transform: scale(1);
  }
  .project-gallary-item:hover .project-link{
    height: 30px;
    transform: scale(1);
  }
  .project-gallary-item h3 {
    margin-top: 15px;
  }
  /* Our Project Style */
  /* Services Style */
  .testimonial {
    padding: 30px 20px;
  }
  .card-wrap{
    grid-template-columns: repeat(1, 1fr);
  }
  .side-bar{
    padding: 200px 0 10px 0px;
  }
  .side-bar li a{
    font-size: 18px;
    padding: 10px 0 10px 15px;
  }
  .card{
    padding: 30px 40px;
  }
  /* Services Style */
  /* Contact Page Style */
  .contact-us {
    padding: 110px 0 40px;
}
.contact-card-wrap {
  grid-template-columns: repeat(2, 1fr);
}
.contact-info {
  margin-top: 60px;
}
.form {
  padding: 15px;
}
.form-row:first-of-type {
  margin-top: 25px;
}
.form-row:not(:first-of-type) {
  margin-top: 30px;
}
.form-row textarea {
  min-height: 150px;
}
.form-submit {
  margin-top: 30px;
}
  /* Contact Page Style */
}

/*		Custom Screem.
-----------------------------------------------------------------
*/

@media only screen and (min-width: 992px) and (max-width: 1150px) {
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="search"],
  input[type="number"],
  input[type="submit"],
  input[type="password"],
  select,
  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }


  .navbar-wrap {
    grid-template-columns: 250px 1fr 180px;
  }
  
  .navbar-nav-list a{
    font-size: 18px;
  }
  .team-card:hover{
    transform: scale(1);
  }
  .swiper-slide-active .team-card{
    transform: scale(1);
  }
}

/*		Tablet Layout: 1024px.
-----------------------------------------------------------------
*/
@media only screen and (min-width: 992px) and (max-width: 1024px) {
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="search"],
  input[type="number"],
  input[type="submit"],
  input[type="password"],
  select,
  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2) {
}
